    <div class="container my-3">
        <h3>Contacter nous</h3>
        <form name="formContact" novalidate ng-submit="sendMessage()">
            
            <div class="row">
               <div class="form-group col-md-12">
                 <label for="username">Utilisateur</label>
                 <input class="form-control" type="text" name="username" placeholder="username" ng-model="contact.username" ng-required="true">
                 <div ng-show="formContact.username.$touched && formContact.username.$invalid">
                      <small style="color: red; text-align: center; display: block">
                      Entrer un nom valide.
                      </small>
                 </div>
                </div>
            </div>
   
            <div class="row">
               <div class="form-group col-md-12">
                 <label for="email">Email</label>
                 <input class="form-control" type="email" name="email" id="email" placeholder="email" ng-model="contact.email" ng-required="true">
                 <div ng-show="formContact.email.$touched && formContact.email.$invalid">
                    <small style="color: red; text-align: center; display: block">
                    Entrer un email valide.
                    </small>
                  </div>
                </div>
              
               <div class="form-group col-md-12">
                 <label for="content">Message</label>
                 <textarea rows="3" class="form-control" name="content" ng-model="contact.content" id="content" cols="30" rows="10" ng-required="true"></textarea>
                 <div ng-show="formContact.content.$touched && formContact.content.$invalid">
                    <small style="color: red; text-align: center; display: block">
                    Entrer un message SVP.
                    </small>
                 </div>
                </div>
               <div class="form-group col-md-6">
                 <input class="btn btn-primary" type="submit" value="Envoyer" ng-disabled="formContact.$invalid">
               </div>
           </div>
             
            
         </form>
    </div>
